
@model IEnumerable<GianHang>
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-6">
        <h2 class="text-info">List Gian Hàng</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New gian hàng</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border>
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.TenGianHang)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MoTaGH)
            </th>         
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.TenGianHang)
                </td>
                <td>
                    @Html.DisplayFor(m => item.MoTaGH)
                </td>              
                <td>
                    <partial name="_TableButtonPartial" model="item.GianHangId" />
                </td>
            </tr>
        }
    </table>
</div>



