@model Shop2.Models.SanPham
@{
    ViewData["Title"] = "Edit";
}
<br />
<br />
<br />

<h2 class="text-info">Delete sản phẩm</h2>
<br />
<form method="post">
    <div class="p-4 border rounded row">
        <input type="hidden" asp-for="SanPhamId" />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TenSanPham">Tên sản phẩm</label>
                </div>
                <div class="col-8">
                    <input asp-for="TenSanPham" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MotaSP">Mô tả SP</label>
                </div>
                <div class="col-8">
                    <input asp-for="MotaSP" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Gia">Giá SP</label>
                </div>
                <div class="col-8">
                    <input asp-for="Gia" readonly class="form-control" />
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TacGia">Tác giả</label>
                </div>
                <div class="col-8">
                    <input asp-for="TacGia" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NXB">Nhà xuất bản</label>
                </div>
                <div class="col-8">
                    <input asp-for="NXB" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NgonNgu">Ngôn ngữ</label>
                </div>
                <div class="col-8">
                    <input asp-for="NgonNgu" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NgayThem">Ngày thêm</label>
                </div>
                <div class="col-8">
                    <input asp-for="NgayThem"  readonly class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Image" width="100%" style="boder-radius:5px;border:1px solid #bbb9b9;" />
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Delete" />
            <a asp-action="Index" class="btn btn-success">Back To List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}